@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.register,
.login {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #89c7fa;
    padding: 50px 0px;
    .title-page {
        margin-bottom: 50px;
    }
    .form-page {
        max-width: 500px;
        margin: 0 auto;
        .form-group {
            text-align: left;
            margin-bottom: 20px;
            label {
                font-weight: 500;
                margin: 0;
            }
        }
    }
    .message {
        margin-bottom: 20px;
        p {
            margin: 0;
            padding: 0;
        }
    }
    .direct-page {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            text-decoration: none;
            font-size: 16px;
            color: #000;
            font-weight: 600;
        }
        & .admin {
            a {
                color: darkred;
            }
        }
    }
}

.height-1 {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-5 {
    font-size: 20px;
}
.chat-app {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    .title-name {
        background-color: lightgoldenrodyellow;
        padding: 7px 0px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        .display-title {
            margin: 0;
            font-weight: 600;
            font-size: 30px;
            line-height: 45px;
            padding-left: 10px;
        }
        img {
            width: 30px;
            height: 30px;
        }
    }
    &::after {
        clear: both;
    }
    hr {
        margin-bottom: 0px;
    }
    .main-content {
        .chat-box {
            .nav-chat {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 10px;
                background-color: #89c7fa;
                p {
                    margin: 0;
                    padding: 0;
                    font-weight: 600;
                }
            }
            .round-message {
                padding: 0 10px;
                .chat-list {
                    height: 510px;
                    padding: 0px 10px;
                    overflow-y: auto;
                    &::-webkit-scrollbar-thumb {
                        background-color: #89c7fa;
                    }
                    &::-webkit-scrollbar {
                        width: 10px;
                    }
                    .detail {
                        clear: both;
                        text-align: right;
                        position: relative;
                        .round-item {
                            display: inline-block;
                            transition-delay: 2s;
                            .info {
                                font-size: 12px;
                                font-weight: 500;
                                position: absolute;
                                top: -15px;
                                right: 0;
                                background-color: #fff;
                                visibility: hidden;
                            }
                            &:hover {
                                .info {
                                    visibility: visible;
                                }
                            }
                            p {
                                margin: 0;
                                margin-top: 3px;
                                padding: 10px;
                                max-width: 400px;
                                background-color: #b2bec3;
                                border-radius: 10px;
                            }
                        }
                        &.active-user {
                            text-align: left;
                            .round-item {
                                .info {
                                    left: 0;
                                    right: unset;
                                }
                                p {
                                    background-color: #bbdefb;
                                }
                            }
                        }
                    }
                }
            }
            .input-box {
                position: relative;
                margin-top: 10px;
                .input-message {
                    .chat-input {
                        font-size: 18px;
                        padding-left: 1rem;
                        padding-right: 5rem;
                        &:focus {
                            border-radius: 0px;
                        }
                    }
                }
                .send-message {
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 50px;
                    transform: translateY(-50%);
                    .chat-btn {
                        @extend .chat-input;
                        width: 100%;
                        outline: none;
                        padding: 10px;
                        border: none;
                        border-radius: 0px;
                        background-color: transparent;
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
                .sticker {
                    position: absolute;
                    top: 50%;
                    right: 50px;
                    cursor: pointer;
                    transform: translateY(-50%);
                    width: 20px;
                    height: 20px;
                    background-image: url("../images/emoji.png");
                    background-size: cover;
                }
                .emoji-chat {
                    position: absolute;
                    top: -330px;
                    right: 20px;
                }
            }
        }
    }
}

.chat-admin {
    @extend .chat-app;
    width: 1000px;
    height: 735px;
    background-color: #eee;
    .main-content {
        width: 100%;
        height: 650px;
        &::after {
            content: "";
            clear: both;
            display: table;
        }
        .list-conversation {
            background-color: #bbdefb;
            width: 30%;
            height: 100%;
            float: left;
            .conversation-title {
                h2 {
                    font-weight: 800;
                    padding: 10px;
                    margin: 0;
                }
            }
            .search-conversation {
                margin-bottom: 10px;
            }
            .list-item {
                height: 540px;
                overflow-y: scroll;
                .item {
                    .nav-link {
                        padding: 0px 0px 2px 0px;
                        text-decoration: none;
                        color: #000;
                        &:hover {
                            .around {
                                background-color: #f1f1f1;
                            }
                        }
                    }
                    .active {
                        .around {
                            background-color: #f1f1f1;
                        }
                    }
                    .around {
                        padding: 10px;
                        border-radius: 7px;
                    }
                    .username {
                        font-size: 20px;
                        font-weight: 600;
                    }
                    .last-message {
                        font-size: 14px;
                        .name {
                            font-weight: 600;
                            font-style: normal;
                        }
                    }
                }
            }
        }
        .chat-box {
            width: 70%;
            float: left;
            height: 100%;
            .nav-chat {
                margin-bottom: 20px;
                .current-chat {
                    h2 {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
            .round-message {
                padding: 0px 10px;
            }
        }
    }
}
